@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 14px;
	font-family: 'Tilt Warp', cursive;
	height: 100vh;
	width: 100%;
	padding: 2rem;
}

.menu {
	position: fixed;
	z-index: 1000;
	width: 150px;
	background: #1b1a1a;
	border-radius: 5px;
	display: none;
	list-style: none;
}

.menu.open {
	display: block;
}

.menu .menu-item {
	padding: 8px 10px;
	font-size: 1rem;
	color: #eee;
	cursor: pointer;
	transition: background-color 0.2s ease-in;
	border-radius: inherit;
}

.menu .menu-item:hover {
	background: #343434;
}

.img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

img {
	/* Start the shake animation and make the animation last for 0.5 seconds */
	animation: shake 0.5s;

	/* When the animation is finished, start again */
	animation-iteration-count: infinite;
}

@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}

	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}

	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}

	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}

	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}

	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}

	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}

	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}

	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}

	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}

	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}

.clicks-timer {
	justify-content: center;
	align-items: center;
	font-size: 7rem;
	margin-top: 140px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 30px;
	margin: 0 auto;
	position: relative;
}

.clicks-amount {
	font-size: 30px;
}

.hidden {
	display: none;
}

.final-result {
	display: block;
	margin-top: 20%;
	font-size: 100px;
	background-image: linear-gradient(-225deg,
			#231557 0%,
			#44107a 29%,
			#ff1361 67%,
			#fff800 100%);
	background-size: auto auto;
	background-clip: border-box;
	background-size: 200% auto;
	color: #fff;
	background-clip: text;
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: textclip 2s linear infinite;
}

.hello-message {
	position: absolute;
	left: 50%;
	top: calc(50vh - 32px);
	transform: translateX(-50%);
	font-size: 48px;
	text-align: center;
	width: 100%;
}

.hello-message span {
	color: #ff1361;
}

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}

.title_H1 {
	text-align: center;
	position: absolute;
	top: 50px;
	font-family: 'Roboto', sans-serif;
}